{% extends 'main.html' %}
{% block content %}

<main class="formPage my-xl">
  <div class="content-box">
      <div class="formWrapper">
          <form class="form" method="POST" action="">
              {% csrf_token %}
              <center>
                <p>Are you sure you want to delete "{{object}}"?</p>
                <a class="btn btn--sub btn--lg  my-md" href="{{request.GET.next}}">👈Go Back</a>
                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Confirm" />
              </center>
          </form>
      </div>
  </div>
</main>

{% endblock content %}